* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #282D35;
}

.navbar{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #21222A;
}
.page-logo{
    width: 64px;
    margin: auto;
    margin-left: 30px;
}
.logo{
    display: flex;
}
.logo-text{
    color: aqua;
}
.header-text{
    color: azure;
    margin-right: 50px;
    margin-top: 30px;
}

/*------------- THIS IS STYLING FOR MAIN PAGE ------------------*/

.main-content{
    height: 90vh;
    font-family: 'Inter', sans-serif;
    background-image: url("./react-2.png");
    background-repeat: no-repeat;
    background-position-x: 128%;
    color:azure;
}
.main-header{
    font-weight: 700;
    margin-top: 0;
    padding: 50px 0px 10px 50px;
}
.main-list{
    padding: 0px 0px 0px 80px
}
.main-list > li{
    padding: 20px 0 20px 0px;
    font-weight: 600;
}
.main-list > li::marker{
   font-size: 1.5rem;
   color: #00D8FF;
}
